<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
	<bean id="responses" class="com.apx.ejemploAPX.model.Responses">
	</bean>	
	<bean id="usuario" class="com.apx.ejemploAPX.model.Usuario">
	</bean>
	<bean id="request" class="com.apx.ejemploAPX.model.Request">
	</bean>		
   
	<bean id="responsesServiceImpl" class="com.apx.ejemploAPX.services.ResponsesServiceImpl">
        <property name="responses" ref="responses" />
        <property name="request" ref="request" />
    </bean>	


		
</beans>